<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About Me</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                I am a Veterinary Surgeon in the East of England, art is both my hobby and a creative outlet. I have always loved animals and keep several pet rats along with my two dogs. I am sure that my family of animals will continue to grow.
            </p>
            <p>
                Passionate about art I have been painting from a young age and have sold my art to private collectors since 2006. As well as one-off pieces, I also sell a variety of merchandise of my designs on
                <a href="https://www.etsy.com/uk/shop/pannya" target="_blank">Etsy</a>, <a href="https://www.redbubble.com/people/mdaviesart/shop" target="_blank"> Redbubble</a> and my own <a href="https://store.mdavies.art" target="_blank">web-store</a>.
            </p>
            <p>
                Outside of my artistic pursuits I also enjoy travelling, video games and reading. No doubt you will find these influences reflected in many of my works.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Animals are my preferred subject of choice but I try to keep my works diverse with; life, landscapes and fantasy. I also work in many other mediums such as inks, markers, collage and digital.
            </p>
            <p>
                My clients and peers commend the empathy that I am told my works exude, particularly my pet-portraits. I am deeply moved to hear stories of provided relief, however small, for those experiencing bereavement for their departed pets.
            </p>
            <p>
                <a href="http://mousalopes.thecomicstrip.org/" target="_blank">Mousalopes Exist!</a> is my webcomic - a comic about some cryptozoological creatures I created and their (mis)adventures. This is where the character 'Pannya' comes from.
            </p>
        </div>
    </div>
</section>
