<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About Me</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                I am a Veterinary Surgeon in South East England, art is both my hobby and a creative outlet. I have always loved animals and keep several pet rats along with two dogs. I am sure that my family of animals will continue to grow.
            </p>
            <p>
                Passionate about art I have been painting from a young age and have sold my art to private collectors since 2006. As well as one-off pieces I also sell a variety of prints and merchandise of my own design.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Animals are my preferred subject of choice but I try to keep my works diverse with; life, landscapes and fantasy. I also work in many other mediums such as inks, markers, collage, digital etc.
            </p>
            <p>
                My clients and peers commend the empathy that I am told my works exude, particularly my pet-portraits. I am deeply moved to hear stories of provided relief, however small, for those experiencing bereavement for their pets.
            </p>
        </div>
        <div class="col-sm-12">
            <p>
                <a href="http://mousalopes.thecomicstrip.org/">Mousalopes Exist!</a> is my webcomic - a comic about some cryptozoological creatures I created and their (mis)adventures. This is where the character 'Pannya' comes from.
            </p>
        </div>
    </div>
</section>