<section class="container container-commissions">
    <div class="row">
        <div class="col-md-12">
            <h1>Commissions</h1>
            <p>
                <strong>An original watercolour painting of a pet makes for a wonderful and unique gift or memento.</strong>
            </p>
            <p>
                Prices are around £57 for an A4 or 10x14” single subject close up portrait including UK delivery. I can work to various sizes starting at as small as 3.5x2.5” for approx. £15 including (UK) delivery. Full body paintings, additional animals and backgrounds
                take more time, so please contact me for a more accurate quote. I can also work in a variety of media, but watercolour is my speciality.
            </p>
            <p>
                I require several good photographs of your pet from different angles that show their markings and characteristics clearly. I tend to compose several photographs to make the final picture rather than copy from one photograph, although if you have a particularly
                good photograph, I may reference this more heavily.
            </p>
            <p>
                It usually takes around 4 weeks to complete your pet portrait. I will keep you informed of progress and any anticipated delays.
            </p>
        </div>
    </div>
</section>