<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact</h1>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="https://www.etsy.com/uk/conversations/new?with_id=6334210&ref=owner_contact">
                    Contant me on Etsy
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fab fa-facebook" aria-hidden="true"></i>
                <a href="https://www.facebook.com/pannyaart">
                    Contact me on Facebook
                </a>
            </div>
        </div>
    </div>
</footer>